* @heraclio @CameronEldonGale @devtanc @vivintsolar/customer-apps @vivintsolar/team-leads

package.json @heraclio @CameronEldonGale @devtanc @vivintsolar/customer-apps @vivintsolar/team-leads
.git* @vivintsolar/customer-apps @vivintsolar/team-leads
